.popover {

}

.popover__button {
  display: flex;
  position: relative;
  border: none;
  background-color: #484e53;
  color: #fff;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover {
    background-color: #5d6166;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.84);
    letter-spacing: 1px;

    svg {
      filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.84));
    }
  }

  &.active:before {
    position: absolute;
    box-shadow: inset -1.5rem 0 1.5rem -1.5rem rgba(0, 0, 0, .35);
    content: "";
    display: block;
    height: 100%;
    left: -1.5rem;
    top: 0;
    width: 1.5rem;
    z-index: 1;
  }

  &.active:after {
    position: absolute;
    box-shadow: inset 1.5rem 0 1.5rem -1.5rem rgba(0, 0, 0, .35);
    content: "";
    display: block;
    height: 100%;
    right: -1.5rem;
    top: 0;
    width: 1.5rem;
    z-index: 1;
  }

  &.active:focus {
    outline: none;
  }

  span {
    padding: 10px;
  }
}

.popover__portal {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0;
  border-radius: 10px;
  background: #333;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.52);
  text-align: center;
  font-size: 16px;

  input {
    margin-bottom: 10px;
    text-align: center;

    &::placeholder {
      text-align: center;
    }
  }

  button {
    cursor: pointer;
  }

  > * {
    height: 30px;
    width: 100%;
    border: 0;
    background-color: #484e53;
    color: white;
    box-sizing: border-box;
    margin-top: 10px;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #5d6166;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.84);
      letter-spacing: 1px;

      svg {
        filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.84));
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #484e53;
    box-shadow: -1px -1px 1px #ffffff8b;
  }
}