.nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0
}

.nav-link {
  display: block;
  padding: 1rem 2.5rem
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: none
}

.nav-link.disabled {
  color: #6c757d;
  cursor: default;
  pointer-events: none
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6
}

.nav-tabs .nav-item {
  margin-bottom: -1px
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6
}

.nav-tabs .nav-link.disabled {
  background-color: transparent;
  border-color: transparent;
  color: #6c757d
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.btn-loading {
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  color: #495057
}

.nav-tabs .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px
}

.nav-pills .nav-link {
  border-radius: .25rem
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.btn-loading,
.nav-pills .show>.nav-link {
  background-color: #26bbed;
  color: #fff
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center
}

.tab-content>.tab-pane {
  display: none
}

.tab-content>.active,
.tab-content>.btn-loading {
  display: block
}

.app-bar {
  align-items: stretch;
  border-right: 1.5rem solid #343a40;
  border-top: .5rem solid #343a40;
  display: flex;
  min-height: 4.3rem;
  position: relative;
  z-index: 1000
}

.app-bar-title {
  background-color: #343a40;
  flex-grow: 1;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 0 0 1rem
}

.app-bar-title,
.nav-app .nav-item {
  box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, .1)
}

.nav-app .nav-item {
  align-items: center;
  background-color: #484e53;
  display: flex;
  transition: all .2s ease-in-out
}

.nav-app .nav-item:not(:first-child) .nav-link {
  box-shadow: inset 1.5rem 0 1.5rem -1.5rem rgba(0, 0, 0, .35)
}

.nav-app .nav-item:last-child .nav-link {
  position: relative
}

.nav-app .nav-item:last-child .nav-link:after {
  box-shadow: inset 1.5rem 0 1.5rem -1.5rem rgba(0, 0, 0, .35);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -1.5rem;
  top: 0;
  width: 1.5rem
}

.nav-app .nav-item .nav-link,
.nav-app .nav-item .nav-link.active,
.nav-app .nav-item .nav-link.btn-loading {
  background-color: transparent;
  border: none;
  color: #f8f9fa;
  cursor: pointer;
  line-height: 1.5;
  position: relative;
  z-index: 1
}

.nav-app .nav-item:hover {
  background-color: #5d6166
}

.nav-app .nav-item.active,
.nav-app .nav-item.btn-loading {
  background-color: transparent;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
  position: relative
}

.nav-app .nav-item.active:before,
.nav-app .nav-item.btn-loading:before {
  box-shadow: inset -1.5rem 0 1.5rem -1.5rem rgba(0, 0, 0, .35);
  content: "";
  display: block;
  height: 100%;
  left: -1.5rem;
  position: absolute;
  top: 0;
  width: 1.5rem
}

.nav-app .nav-item.active .nav-link,
.nav-app .nav-item.btn-loading .nav-link {
  box-shadow: none
}

.nav-app .nav-item.active .nav-link:hover,
.nav-app .nav-item.btn-loading .nav-link:hover {
  cursor: default
}