$shooting-time: 3000ms;

.stars-container {
  position: absolute;
  overflow: hidden;
  width: 165px;
  height: 110px;

  @media only screen and (min-width: 420px) and (max-width: 767px){
    width: 170px;
  }

  @media only screen and (min-width: 768px) {
    width: 220px;
    height: 170px;
  }
}

.shooting-star {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgb(255, 255, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(255, 255, 255));
  animation: tail $shooting-time ease-in-out infinite, shootingSmall $shooting-time ease-in-out infinite;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(255, 255, 255), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining $shooting-time ease-in-out infinite;
  }

  &::after {
    @extend .shooting-star::before;
    transform: translateX(50%) rotateZ(-45deg);
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      $delay: random(9999) + 10ms;
      top: calc(#{random(10%) + $i * 15}px);
      left: calc(#{random(10%) + $i * 10}px);
      animation-delay: $delay;
      opacity: random(50) / 100 + 0.5;

      &::before,
      &::after {
        animation-delay: $delay;
      }
    }
  }

  @media screen and (min-width: 768px) {
    animation: tail $shooting-time ease-in-out infinite, shootingLarge $shooting-time ease-in-out infinite;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 50px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 20px;
  }

  100% {
    width: 0;
  }
}

@keyframes shootingLarge {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150px);
  }
}

@keyframes shootingSmall {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(130px);
  }
}