.cards-container {
  height: calc(100vh - 120px);
}

.fixed-list {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.fixed-list__row {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 165px;
  height: 120px;
  align-self: center;
  margin: 12px 12px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(93, 64, 55, 0.4), 6px 6px rgba(93, 64, 55, 0.3),  -3px 3px 15px rgba(100, 0, 0, 0.4);

  @media only screen and (min-width: 420px) and (max-width: 767px){
    width: 170px;
    margin-top: 18px;
    margin-right: 18px;
    box-shadow: 5px 5px rgba(93, 64, 55, 0.4), 10px 10px rgba(93, 64, 55, 0.3),  -5px 5px 20px rgba(100, 0, 0, 0.4);
  }

  @media only screen and (min-width: 768px) {
    width: 220px;
    height: 180px;
    margin-top: 20px;
    box-shadow: 5px 5px rgba(93, 64, 55, 0.4), 10px 10px rgba(93, 64, 55, 0.3),  -5px 5px 20px rgba(100, 0, 0, 0.4);
  }
}

.card__name {
  display: inline-block;
  width: calc(100% - 10px);
  color: #f1f1f1;
  font-size: 25px;
  font-family: 'Acme', Consolas, sans-serif;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 2px 2px 4px rgb(75, 75, 75);
  text-overflow: ellipsis;

  @media only screen and (min-width: 768px) {
    font-size: 35px;
  }
}

.card__list {
  list-style-type: none;
  padding-left: 12px;
  background-color: rgba(53, 56, 61, 0.72);
  box-shadow: 0 -2px 5px rgba(53, 56, 61, 0.72), 0 2px 5px rgba(53, 56, 61, 0.72);
  margin-top: 12px;
  color: #f1f1f1;
  font-family: Georgia, sans-serif;
  font-size: 13px;
  text-shadow: 2px 2px 4px rgb(52, 51, 51);

  @media only screen and (min-width: 768px) {
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-left: 18px;
  }

  &.m-margin-top {
    margin-top: 0;

    @media only screen and (min-width: 768px) {
      margin-top: 25px;
    }
  }
}

.cards-container__scroll-path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3);

  &:before {
    content: 'By Vikrant \26A1';
    position: absolute;
    height: 10px;
    width: 110px;
    color: rgba(240, 255, 255, 0.7);
    font-family: Century, sans-serif;
    text-shadow: 0 -2px 3px rgba(56, 92, 120, 0.6);
    left: -61px;
    top: calc(50vh - 20px);
    text-align: center;
    transform: rotateZ(270deg);
  }
}

.cards-container__progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to bottom, #008aff, #00ffe7);
  animation: animate 5s linear infinite;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #008aff, #00ffe7);
    filter: blur(10px);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #008aff, #00ffe7);
    filter: blur(30px);
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}